# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Data
data/
datasets/
*.zip
*.rar
*.7z

# Model checkpoints
*.keras
*.h5
*.pth
*.pt
checkpoints/

# Colab / outputs
outputs/

# OS files
.DS_Store
Thumbs.db

# Kaggle credentials
kaggle.json
access_token